#$PROJDIR

obj
Temp
.suo
.user

#$PROJDIR/Library

cache
metadata
ScriptAssemblies
assetDatabase3
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
expandedItems
FailedAssetImports.txt
guidmapper
ScriptMapper
unity default resources
unity editor resources

#$PROJDIR

obj
Temp
.suo
.user
.pidb
.userprefs

#$PROJDIR/Library

cache
metadata
previews
ScriptAssemblies
assetDatabase3
AssetImportState
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
AudioManager.asset
BuildPlayer.prefs
BuildSettings.asset
DynamicsManager.asset
EditorSettings.asset
EditorUserBuildSettings.asset
expandedItems
FailedAssetImports.txt
guidmapper
InspectorExpandedItems.asset
MonoManager.asset
NetworkManager.asset
ScriptMapper
unity default resources
unity editor resources