shader_doodles_unity/.vs

obj
Temp
.suo
.user



shader_doodles_unity/Library/cache
shader_doodles_unity/Library/metadata
shader_doodles_unity/Library/ScriptAssemblies
shader_doodles_unity/Library/assetDatabase3
shader_doodles_unity/Library/assetservercachev3
shader_doodles_unity/Library/AssetServerCacheV3
shader_doodles_unity/Library/AssetVersioning.db
shader_doodles_unity/Library/expandedItems
shader_doodles_unity/Library/FailedAssetImports.txt
shader_doodles_unity/Library/guidmapper
shader_doodles_unity/Library/ScriptMapper
shader_doodles_unity/Library/unity default resources
shader_doodles_unity/Library/unity editor resources
shader_doodles_unity/Library/ShaderCache

#$PROJDIR

obj
Temp
.suo
.user
.pidb
.userprefs

#$PROJDIR/Library

cache
metadata
previews
ScriptAssemblies
assetDatabase3
AssetImportState
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
AudioManager.asset
BuildPlayer.prefs
BuildSettings.asset
DynamicsManager.asset
EditorSettings.asset
EditorUserBuildSettings.asset
expandedItems
FailedAssetImports.txt
guidmapper
InspectorExpandedItems.asset
MonoManager.asset
NetworkManager.asset
ScriptMapper
unity default resources
unity editor resources